/build/
/build_release/
/lib/
/.VSCodeCounter/
/.claude/
CLAUDE.md
AGENTS.md
/.codex/
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
config
HEAD
hooks
objects
refs
GtsScene3
